$content-width: 1000px;

$spacing-xs: 8px;
$spacing-sm: 16px;
$spacing-md: 24px;
$spacing-lg: 32px;
$spacing-xl: 40px;

$background-count: 3;

$font-family-main: "NMSGeoSans";
$font-family-glyph: "NMSGlyphs";
