// partials
@use "partials/vars";

// import once
@use "./fonts";
@use "./forms";
@use "./buttons";
@use "./native-vars";

html,
body,
.root {
  width: 100%;
  height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: vars.$font-family-main;
  color: var(--color-font-primary);
}
