@use "partials/vars";
@use "partials/colors";

button {
  font-size: 24px;
  border: none;
  color: var(--color-tint-accent-base-contrast);
  background: var(--color-tint-accent-base);
  padding: vars.$spacing-xs vars.$spacing-sm;
  outline: none;
  border-radius: vars.$border-radius;
  cursor: pointer;

  &:hover {
    background: var(--color-tint-accent-light);
  }

  & + button {
    margin-left: vars.$spacing-md;
  }
}
