/*
https://maketintsandshades.com/#1B6275
20 % steps ligher and darker, respectively
*/

$accent-lightest: rgba(164, 192, 200, 1);
$accent-lighter: rgba(118, 161, 172, 1);
$accent-light: rgba(73, 129, 145, 1);
$accent-base: rgba(27, 98, 117, 1);
$accent-dark: rgba(22, 78, 94, 1);
$accent-darker: rgba(16, 59, 70, 1);
$accent-darkest: rgba(11, 39, 47, 1);

:root {
  --color-elevation-background-opaque: rgba(28, 28, 28, 1);
  --color-elevation-background: rgba(28, 28, 28, 0.8);
  --color-elevation-background-input: rgba(38, 38, 38, 0.8);

  --color-font-primary: rgba(255, 255, 255, 1);

  --color-tint-accent-base: #{$accent-base};
  --color-tint-accent-base-contrast: rgba(255, 255, 255, 1);
  --color-tint-accent-light: #{$accent-light};

  --border-accent: 2px solid #{$accent-base};
  --border-accent-soft: 2px solid #{$accent-light};
}
